nuxeo-sample-webservice/nuxeo-sample-webservice-client/src/main/resources/wsdls/xsdschemas/nuxeosample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<xs:schema xmlns:tns="http://server.ws.samples.ecm.nuxeo.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.ws.samples.ecm.nuxeo.org/">

<xs:element name="ClientException" type="tns:ClientException"/>

<xs:element name="LoginException" type="tns:LoginException"/>

<xs:element name="createDocument" type="tns:createDocument"/>

<xs:element name="createDocumentResponse" type="tns:createDocumentResponse"/>

<xs:complexType name="createDocument">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="parentPath" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDocumentResponse">
<xs:sequence>
<xs:element name="return" type="tns:documentDescriptor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentDescriptor">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="UUID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClientException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>